body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn {
  border-radius: 100px;
  background: #C3DCE3;
  color: #2B788B;
  letter-spacing: -0.64px;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1220px;
  }
}